<!DOCTYPE html>
<html lang="pt-br">

  <head>
  
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Restaurante</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Restaurante</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="/produtos">Produtos <span class="sr-only">(current)</span></a>
                      </li>

                      <li class="nav-item active">
                        <a class="nav-link" href="/pedidos">Pedidos <span class="sr-only">(current)</span></a>
                      </li>
                    
                  <li class="nav-item active">
                    <a class="nav-link" href="/comentarios">Comentarios <span class="sr-only">(current)</span></a>
                  </li>
        </ul>

      </div>
    </nav>
    <div  class="container">
      <h3>Faça sua Reserva aqui</h3>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Restaurante</a></li>
          <li class="breadcrumb-item active" aria-current="page">Reserva</li>
        </ol>
      </nav>
    

      <form action="salvarReservas" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">Realizazar Reserva por:</label>
          <input type="text" class="form-control" id="nome_do_reservante"  placeholder="Informe Seu Nome">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Messa A ser Reservada:</label>
          <input type="text" class="form-control" id="messa_para_ser_reservada" placeholder="Iforme a Messa para Efetuar A Reserva">
        </div>

        <button type="submit" class="btn btn-primary" onclick="verificar_messas()">Salvar Reserva</button>
      </form>

      <% if (listmessa.length  > 0) {%>
        <h5>Messas Não Diponiveis</h5>
      <ul class="list-group">
        <% listmessa.forEach( element => {%>
            <li ><%="Messa " +  element.messa %> </li>
        <% });%>   
        <% }%>
        </ul>
        
    </div>  


   

    <script>
      function verificar_messas(element){
        let messa_resevada = document.getElementById("messa_para_ser_reservada");
        for(let i = 0; listmessa.length; i++)
        {
          if(messa_resevada == element.messa)
          alert("Está Messa selecionada está sendo utilizada");
        }
      }
    </script>

    <style>
      body{
        background-color: aqua;
      }
      h3{
        text-align: center;
      }
      p{
        background-color: aliceblue;
      }
    </style>

   
  
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>